body{
    background-color: #17171F;
    color: white;
    font-size: 30px;
}
.container{
    display: flex;
    justify-content: center;
}
table{
    border-collapse: collapse;
    margin-right: 30px;
}
.tbody td{
    padding: 5px 0 5px 10px;
}
.tbody tr:nth-child(odd){
    background-color: rgb(29, 28, 50);
}
a{
    text-decoration: none;
    color: white;
}

// tr:nth-child(2),tr:nth-child(7),tr:nth-child(8),tr:nth-child(10),tr:nth-child(13),tr:nth-child(14),tr:nth-child(15),tr:nth-child(16),tr:nth-child(17){
//     border-bottom: 1px solid white;
// }


tr a:hover{
    color: red;
}