body{
    background-color: #17171F;
    color: white;
    font-size: 30px;
}
.container{
    display: flex;
    justify-content: center;
}
table{
    border-collapse: collapse;
    margin-right: 30px;
}
.tbody td{
    padding: 5px 0 5px 10px;
}
tr{
    background-color: rgb(29, 28, 50);
}
a{
    text-decoration: none;
    color: white;
}

tr a:hover{
    color: red;
}